footer.footer#footer
  

  .container.footer__container
    .footer__contacts
      a.footer__contact(href="mailto:infodots@yandex.ru") INFODOTS@YANDEX.RU
      a.footer__contact(href="tel:+78002000888") +7 800 200-08-88

  .footer__bottom
    .container.footer__bottom-inner
      .footer__bottom-left-text
        | © 2026 Все права защищены
      .footer__bottom-left-text
        | Разработано в Web Studio