extends ../_templates/_base.pug


block main
  main
    section.hero.has-bg
      .hero__bg.bg.bg_cover
        picture
          source(media="(max-width: 767px)" srcset="img/hero-bg.png" type="image/png")
          img(src="img/hero-bg.png" alt="Dots...." loading="eager")

      .container.hero__container

        .hero__body
          h1.hero__heading
            span.hero__heading-line
              span.hero__heading-word.hero__heading-word_light WEB
              | &nbsp;
              span.hero__heading-word.hero__heading-word_bold STUDIO
            span.hero__heading-line
              span.hero__heading-word.hero__heading-word_light DIGITAL
              | &nbsp;
              span.hero__heading-word.hero__heading-word_bold DESIGN

          p.hero__description
            | Веб-студия — создаём сайты, лендинги, интернет-магазины, web-приложения, crm-системы


      .hero__footer
        .container.hero__footer-inner
          a.hero__footer-contact(href="mailto:infodots@yandex.ru") INFODOTS@YANDEX.RU
          a.hero__footer-contact(href="tel:+78002000888") +7 800 200-08-88





    mixin 3d-card(imgUrl)
      .card
        .card__inner
          .card__content
            .card__img 
                img(src=imgUrl, alt="Логтип компании Nike")
            .card__descr
              h3 Nike Logo
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vel voluptates temporibus cupiditate eos? Temporibus, eos cum ullam sunt nesciunt ducimus laborum velit ut autem.
              .btn.btn_black Посмотреть


    section.cases
      .container.cases__container
        .cases__grid
          
          +3d-card("img/nike-logo.jpg")
          +3d-card("img/nike-logo.jpg")
          +3d-card("img/nike-logo.jpg")
          +3d-card("img/nike-logo.jpg")
