extends ../_templates/_base.pug


block main
  main
    section.hero.has-bg
      .hero__bg.bg.bg_cover
        picture
          source(media="(max-width: 767px)" srcset="img/hero-bg.png" type="image/png")
          img(src="img/hero-bg.png" alt="Dots...." loading="eager")

      .container.hero__container

        .hero__body
          h1.hero__heading
            span.hero__heading-line
              span.hero__heading-word.hero__heading-word_light WEB
              | &nbsp;
              span.hero__heading-word.hero__heading-word_bold STUDIO
            span.hero__heading-line
              span.hero__heading-word.hero__heading-word_light DIGITAL
              | &nbsp;
              span.hero__heading-word.hero__heading-word_bold DESIGN

          p.hero__description
            | Веб-студия — создаём сайты, лендинги, интернет-магазины, web-приложения, crm-системы


      .hero__footer
        .container.hero__footer-inner
          a.hero__footer-contact(href="mailto:info@bfd.su") INFO@BFD.SU
          a.hero__footer-contact(href="tel:+74951501720") +7 495 150-17-20
